html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica,"Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0090ff;
}

a:focus, a:hover {
  color: #0090ff;
}

.navbar__logo-text {
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

@media only screen and (min-width: 320px) {
  .navbar__logo-text {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar__logo-text {
    font-size: 3.2rem;
  }
}

.navbar-default .navbar-brand {
  color: #111;
}

.navbar-default .navbar-brand:hover {
  color: #111;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  line-height: normal;
}

@media only screen and (min-width: 320px) {
  .navbar-brand {
    padding: 1.4rem 0;
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-brand {
    padding: 2rem 1.5rem;
  }
}

.navbar__logo-subtext {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #111;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: normal;
  margin-left: 1rem;
  padding-left: 1.5rem;
  position: relative;
}

@media only screen and (min-width: 320px) {
  .navbar__logo-subtext {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar__logo-subtext {
    font-size: 2rem;
  }
}

.navbar__logo-subtext::before {
  content: '|';
  left: 0;
  position: absolute;
  top: -2px;
}

.hero {
  background: url("../images/hero.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) {
  .hero {
    min-height: 20rem;
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    height: 35rem;
  }
}

.hero__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 4.2rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section {
    padding: 6rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section {
    padding: 10rem 0;
  }
}

.page-section__soluciones .thumbnail {
  border: transparent;
}

.page-section__soluciones .thumbnail h3 {
  font-size: 3.2rem;
}

.page-section__soluciones .link {
  border-bottom: 1px solid transparent;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: border-bottom 250ms;
  transition: border-bottom 250ms;
}

.page-section__soluciones .link:hover {
  border-bottom: 1px solid #0090ff;
  -webkit-transition: border-bottom 250ms;
  transition: border-bottom 250ms;
}

.page-section__soluciones .link::after {
  background-color: transparent;
  border-right: 1px solid #0090ff;
  border-top: 1px solid #0090ff;
  content: '';
  display: inline-block;
  height: 8px;
  -webkit-transform: rotate(45deg) translate(1px, -2px);
          transform: rotate(45deg) translate(1px, -2px);
  width: 8px;
}

.headline {
  font-size: 4.2rem;
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .headline {
    font-size: 3rem;
  }
}
