.tabs-left,
.tabs-right {
  border-bottom: 0;
  padding-top: 2px;
}

.tabs-left {
  border-right: 1px solid #ddd;
}

.tabs-right {
  border-left: 1px solid #ddd;
}

.tabs-left > li,
.tabs-right > li {
  float: none;
  margin-bottom: 2px;
}

.tabs-left > li {
  margin-right: -1px;
}

.tabs-right > li {
  margin-left: -1px;
}

.tabs-left > li.active > a {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right > li.active > a {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}

.tabs-right > li.active > a:hover, .tabs-right > li.active > a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}

.tabs-left > li > a {
  border-radius: 4px 0 0 4px;
  display: block;
  margin-right: 0;
}

.tabs-right > li > a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

a {
  color: #0090ff;
}

a:focus, a:hover {
  color: #0090ff;
}

.divider {
  border-top: 1px solid #f2f2f2;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .divider {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.link {
  border-bottom: 1px solid transparent;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: border-bottom 250ms;
  transition: border-bottom 250ms;
}

.link:hover {
  border-bottom: 1px solid #0090ff;
  text-decoration: none;
  -webkit-transition: border-bottom 250ms;
  transition: border-bottom 250ms;
}

.link:active, .link:focus {
  text-decoration: none;
}

.link--arrow::after {
  background-color: transparent;
  border-right: 1px solid #0090ff;
  border-top: 1px solid #0090ff;
  content: '';
  display: inline-block;
  height: 8px;
  -webkit-transform: rotate(45deg) translate(1px, -2px);
          transform: rotate(45deg) translate(1px, -2px);
  width: 8px;
}

.profile-pic {
  border-radius: 50px;
  float: left;
  height: 5rem;
  left: 3rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5rem;
}

.experto {
  color: #0090ff;
  left: 9rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.experto .nombre {
  font-size: 1.4rem;
}

.experto .folio {
  color: #111;
  font-size: 1.4rem;
}

.card {
  background: #fff;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.3);
  min-height: 8rem;
}

.btn-fibaro {
  background-color: #0090ff;
  border-color: #0090ff;
  border-radius: .3rem;
  color: #fff;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.btn-fibaro:hover, .btn-fibaro:active, .btn-fibaro:focus {
  background-color: transparent;
  color: #0090ff;
}

.btn-max-width {
  max-width: 32rem;
}

b {
  font-weight: 700;
}

.material-icons {
  color: #0090ff;
}

.lista {
  font-size: 2rem;
}

.js-powered-by-eb-link.link--subtle.link--undecorated {
  display: none !important;
}

.transparent-bg {
  background-color: #111;
  border-bottom: transparent;
  -webkit-transition: 800ms ease;
  transition: 800ms ease;
}

@media only screen and (min-width: 320px) {
  .navbar-brand .desktop-logo {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-brand .desktop-logo {
    display: block;
    margin-top: 0 !important;
    max-height: 2.8rem;
  }
}

.navbar-brand .mobile-icon {
  max-height: 2rem;
}

@media only screen and (min-width: 320px) {
  .navbar-brand .mobile-icon {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-brand .mobile-icon {
    display: none;
  }
}

.navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar__logo-text {
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  padding-left: 1.5rem !important;
}

@media only screen and (min-width: 320px) {
  .navbar__logo-text {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar__logo-text {
    font-size: 3.2rem;
  }
}

.navbar-default {
  background-color: #323232;
  border-color: #323232;
}

.navbar-default .navbar-nav > li > a {
  color: #111;
  font-size: 1.4rem;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0090ff;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: #111;
}

.navbar-default .navbar-nav > .active > a:focus {
  color: #0090ff;
}

@media only screen and (min-width: 320px) {
  .navbar-default .navbar-nav > .active > a:focus {
    background: rgba(0, 144, 255, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
  }
}

.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #0090ff;
}

.navbar-default .navbar-brand {
  color: #111;
}

@media only screen and (min-width: 320px) {
  .navbar-default .navbar-brand img {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-default .navbar-brand img {
    margin-top: .4rem;
  }
}

.navbar-default .navbar-brand:hover {
  color: #111;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 1px;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: .6rem;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  line-height: normal;
}

@media only screen and (min-width: 320px) {
  .navbar-brand {
    padding: 1.4rem 0;
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-brand {
    padding: 2rem 1.5rem;
  }
}

.navbar__logo-subtext {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #111;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: normal;
  margin-left: 1rem;
  padding-left: 1.5rem;
  position: relative;
}

@media only screen and (min-width: 320px) {
  .navbar__logo-subtext {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar__logo-subtext {
    font-size: 2rem;
  }
}

.navbar__logo-subtext::before {
  content: '|';
  left: 0;
  position: absolute;
  top: -2px;
}

.nav-pills > li {
  display: inline-block;
  float: none;
}

.nav-pills > li.active a {
  background-color: #0090ff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}

.nav-pills > li.active a:hover, .nav-pills > li.active a:focus, .nav-pills > li.active a:active {
  background-color: #111;
}

.nav li a {
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #111;
}

.hero {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) {
  .hero {
    background: url("../images/hero-mobile.jpg") no-repeat;
    background-size: cover;
    min-height: 17.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background: url("../images/hero.jpg") no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    background: url("../images/hero.jpg") no-repeat;
    background-size: cover;
    height: 35rem;
  }
}

.hero__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 4.2rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section {
    padding: 4rem 0;
  }
}

@media only screen and (min-width: 480px) {
  .page-section {
    padding: 4rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section {
    padding: 4rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section {
    padding: 10rem 0;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .row:nth-child(2) .col-sm-4:first-child .thumbnail {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .row:nth-child(2) .col-sm-4:first-child .thumbnail {
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .row:nth-child(3) .col-sm-4:first-child .thumbnail {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .row:nth-child(3) .col-sm-4:nth-child(2) .thumbnail {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .row:nth-child(3) .col-sm-4:last-child .thumbnail {
    margin-bottom: 0;
  }
}

.page-section--soluciones .thumbnail {
  border: transparent;
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .thumbnail {
    margin-bottom: 6rem;
  }
}

.page-section--soluciones .thumbnail img {
  max-height: 5rem;
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .thumbnail h3 {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .thumbnail h3 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--soluciones__link {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software .col-sm-6 {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software .col-sm-6:first-child {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--software .col-sm-6:first-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--software .col-sm-6:last-child {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software .col-sm-6:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software__descarga--img {
    margin-bottom: 3rem;
    max-height: 6rem;
  }
}

.page-section--software__descarga {
  color: #0090ff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  position: relative;
}

@media only screen and (min-width: 320px) {
  .page-section--software__descarga {
    padding-left: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--software__descarga {
    padding-left: 3rem;
  }
}

.page-section--software__descarga::before {
  background: url("../images/cloud-download-simple-line-icons@3x.png") no-repeat center center;
  background-size: contain;
  content: '';
  display: block;
  height: 2rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 2rem;
}

.page-section--ayuda {
  padding-bottom: 2rem;
}

.page-section--ayuda .tiny {
  font-size: 1.4rem;
}

.page-section--ayuda__img {
  float: left;
  height: 4rem;
  margin-right: 1.5rem;
  width: 4rem;
}

.page-section--ayuda__text-azul {
  color: #0090ff;
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__text-azul {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__text-container {
    max-width: 16rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__text-container {
    max-width: initial;
  }
}

.page-section--ayuda__text {
  font-weight: 300;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__text {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__text {
    font-size: 2.2rem;
  }
}

.page-section--ayuda__align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__align {
    margin: 3rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--ayuda__align {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}

.page-section--ayuda__link {
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__link {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__link {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
}

.page-section--garantia__img {
  float: left;
  height: 5rem;
  margin-right: 1.5rem;
  width: 5rem;
}

.page-section--garantia__text-azul {
  color: #0090ff;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__text-azul {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--garantia__text-azul {
    font-size: 1.4rem;
  }
}

.page-section--garantia__text {
  font-weight: 300;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__text {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--garantia__text {
    font-size: 2.2rem;
  }
}

.page-section--garantia__align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__align {
    margin: 3rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--garantia__align {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}

.page-section--garantia__link {
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__link {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--garantia__link {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
}

.page-section--reseller {
  background: url("../images/expertos-reseller.jpg") no-repeat center;
  background-size: cover;
}

@media only screen and (min-width: 320px) {
  .page-section--reseller {
    min-height: 30rem;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--reseller {
    min-height: 40rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--reseller {
    background-size: contain;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--reseller h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--reseller h2 {
    text-align: left;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--reseller .lead {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--reseller .lead {
    text-align: left;
  }
}

.page-section--reseller a {
  display: inline-block;
}

@media only screen and (min-width: 320px) {
  .page-section--reseller a {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--reseller a {
    text-align: left;
  }
}

.page-section--instaladores {
  background: url("../images/expertos-instaladores.jpg") no-repeat center;
  background-size: cover;
}

@media only screen and (min-width: 320px) {
  .page-section--instaladores {
    min-height: 30rem;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--instaladores {
    min-height: 40rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--instaladores {
    background-size: contain;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--instaladores h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--instaladores h2 {
    text-align: left;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--instaladores .lead {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--instaladores .lead {
    text-align: left;
  }
}

.page-section--instaladores a {
  display: inline-block;
}

@media only screen and (min-width: 320px) {
  .page-section--instaladores a {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--instaladores a {
    text-align: left;
  }
}

.page-section--nuestros-instaladores {
  background: #f2f2f2;
}

.headline {
  font-size: 4.2rem;
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .headline {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .headline {
    font-size: 4.2rem;
    margin-bottom: 9rem;
  }
}

.headline--nomargin {
  margin: 0;
}

.headline--subheadline {
  margin-top: 1rem;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .headline--subheadline {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .headline--subheadline {
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: 320px) {
  .footer {
    padding: 1.5rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    padding: 3rem 0;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 2.4rem;
  text-align: center;
  width: 100%;
}

.footer__menu ul li {
  border-left: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 1.4rem;
  padding: 0 1rem;
}

.footer__menu ul li:first-child {
  border-left-color: transparent;
}

@media only screen and (min-width: 320px) {
  .footer__menu ul li {
    border-left-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .footer__menu ul li {
    border-left-color: transparent;
  }
}

@media only screen and (min-width: 992px) {
  .footer__menu ul li {
    border-left-color: #ccc;
  }
}

.footer__menu ul li a {
  color: #444;
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
}

.footer__menu-bg {
  background-color: #eee;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 2.4rem;
  text-align: center;
  width: 100%;
}

.footer__social ul li {
  display: inline-block;
  margin-bottom: 1.4rem;
  padding: 0 1rem;
}

.footer__social ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #7e7f7f;
  border-radius: 3rem;
  color: #7e7f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.6rem;
  text-decoration: none;
  width: 3.6rem;
}

.footer__copyright {
  color: #7e7e7e;
  font-size: 1.2rem;
  font-weight: 300;
}

.footer__copyright sup {
  font-size: .8rem;
}

@media only screen and (min-width: 320px) {
  .footer__copyright {
    text-align: center;
  }
}

.footer__copyright--img {
  height: 3rem;
  margin: 1rem auto;
}

.panel {
  border: transparent;
  box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}

.panel-title a {
  text-decoration: none;
}

.panel-group {
  margin-bottom: 0;
}

.panel-heading {
  padding-left: .5rem;
}

.landing-expertos__hero-container {
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  width: 100%;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__hero-container {
    padding-top: 1rem;
  }
}

.landing-expertos__hero-container__main-text {
  display: block;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__hero-container__main-text {
    margin-top: 16rem;
  }
}

@media only screen and (min-width: 992px) {
  .landing-expertos__hero-container__main-text {
    margin-top: 22rem;
  }
}

@media only screen and (min-width: 320px) {
  .landing-expertos__hero-container .asegura-lugar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
  }
}

@media only screen and (min-width: 992px) {
  .landing-expertos__hero-container .asegura-lugar {
    margin-top: 11rem;
    width: 100%;
  }
}

.landing-expertos__hero-container .viviendas {
  font-size: 1.5rem;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__hero-container .viviendas {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .landing-expertos__hero-container .viviendas {
    margin-top: 1rem;
    text-align: left;
  }
}

.landing-expertos__title {
  font-weight: 400;
  margin-top: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 320px) {
  .landing-expertos__title {
    font-size: 3.2rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__title {
    font-size: 4.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .landing-expertos__title {
    font-size: 3.6rem;
    text-align: left;
  }
}

.landing-expertos__titular {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 320px) {
  .landing-expertos__titular {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__titular {
    font-size: 1.8rem;
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .landing-expertos__titular {
    font-size: 1.6rem;
    text-align: left;
  }
}

.landing-expertos__subtitular {
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 320px) {
  .landing-expertos__subtitular {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__subtitular {
    text-align: left;
  }
}

.landing-expertos__tachado {
  text-decoration: line-through;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__tachado {
    font-size: 2rem;
    font-weight: 300;
  }
}

.landing-expertos__beneficios__list {
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__beneficios__list {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__beneficios__list {
    font-size: 2.4rem;
  }
}

.landing-expertos__beneficios__list .material-icons {
  font-size: 1.4rem;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__beneficios__list li {
    line-height: 1.5;
    margin-bottom: .5rem;
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__beneficios__list li {
    line-height: 2;
  }
}

@media only screen and (min-width: 992px) {
  .landing-expertos__beneficios__list li {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 320px) {
  .landing-expertos__beneficios__list li:last-child {
    margin-bottom: 0;
  }
}

.landing-expertos__pasos {
  background-size: cover;
  color: #fff;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__pasos {
    background: url("../images/casa-inteligente.jpg") no-repeat center;
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__pasos {
    background: url("../images/casa-inteligente.jpg") no-repeat center;
  }
}

.landing-expertos__pasos .reseller-certificado {
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media only screen and (min-width: 320px) {
  .landing-expertos__pasos .paso {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 320px) {
  .landing-expertos__pasos .paso:last-child {
    margin-top: 4rem;
  }
}

.landing-expertos__pasos .lista p {
  margin-bottom: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.landing-expertos__pasos .lista p span {
  color: #fff;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__pasos .lista p {
    font-size: 1.4rem;
  }
}

.landing-expertos__pasos__title {
  font-size: 1.8rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.landing-expertos__pasos-icon {
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid #0090ff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16rem;
  max-width: 16rem;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__pasos-icon {
    height: 10rem;
    max-width: 10rem;
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__pasos-icon {
    height: 16rem;
    max-width: 16rem;
  }
}

.landing-expertos__pasos-icon img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__pasos-icon img {
    max-height: 5rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__pasos-icon img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.landing-expertos__testimonios table {
  margin: 0 auto;
  max-width: 32rem;
}

.landing-expertos__testimonios .name-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-expertos__testimonios em {
  color: #0090ff;
  font-size: 1.4rem;
}

.landing-expertos__testimonios blockquote {
  border-left: 0;
  font-size: 1.4rem;
}

.landing-expertos__testimonios blockquote p {
  font-style: italic;
}

.landing-expertos__testimonios-image {
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (min-width: 320px) {
  .landing-expertos__testimonios-image {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media only screen and (min-width: 768px) {
  .landing-expertos__testimonios-image {
    max-width: 10rem;
  }
}

.main-logo {
  max-height: 3rem;
  padding: .5rem 0;
}

.nav-text-white li a {
  color: #fff !important;
}

.navbar-brand {
  display: inline-block;
  float: none;
  padding: 0;
}

.navbar-icon-center {
  display: block;
}

.navbar-icon-center img {
  margin: 0 auto;
  text-align: center;
}

.fixed-left {
  background-color: transparent !important;
  left: 0;
  position: fixed;
  top: 0;
}

.navbar-toggle.cerrado .icon-bar:nth-child(2) {
  background-color: #fff;
  margin-top: 0 !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.navbar-toggle.cerrado .icon-bar:nth-child(3) {
  background-color: #fff;
  margin-top: -1px !important;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.blacking-bg {
  background-color: #111;
  -webkit-transition: background 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: background 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#menu-escrito li a {
  font-weight: 300;
}

.home-intelligence {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.bg-gradient {
  background: transparent;
  border: 0;
  -webkit-transition: border 300ms ease;
  transition: border 300ms ease;
}

.landing-expertos__hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.datos-pato {
  margin: 0 auto;
  max-width: 39rem;
}

.datos-pato h4 {
  margin-bottom: 0;
  margin-top: 0;
}

.datos-pato span {
  font-size: 1.2rem;
}

.datos-pato p {
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-top: 0;
}

.datos-pato p a {
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  #eventbrite-data {
    min-height: 35rem;
  }
}

@media only screen and (min-width: 768px) {
  #eventbrite-data {
    min-height: 38rem;
  }
}
