html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

a {
  color: #0090ff;
}

a:focus, a:hover {
  color: #0090ff;
}

.divider {
  border-top: 1px solid #f2f2f2;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .divider {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.link {
  border-bottom: 1px solid transparent;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: border-bottom 250ms;
  transition: border-bottom 250ms;
}

.link:hover {
  border-bottom: 1px solid #0090ff;
  text-decoration: none;
  -webkit-transition: border-bottom 250ms;
  transition: border-bottom 250ms;
}

.link:active, .link:focus {
  text-decoration: none;
}

.link--arrow::after {
  background-color: transparent;
  border-right: 1px solid #0090ff;
  border-top: 1px solid #0090ff;
  content: '';
  display: inline-block;
  height: 8px;
  -webkit-transform: rotate(45deg) translate(1px, -2px);
          transform: rotate(45deg) translate(1px, -2px);
  width: 8px;
}

.navbar__logo-text {
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

@media only screen and (min-width: 320px) {
  .navbar__logo-text {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar__logo-text {
    font-size: 3.2rem;
  }
}

.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #111;
  font-size: 1.4rem;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0090ff;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: #111;
}

.navbar-default .navbar-nav > .active > a:focus {
  color: #0090ff;
}

@media only screen and (min-width: 320px) {
  .navbar-default .navbar-nav > .active > a:focus {
    background: rgba(0, 144, 255, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
  }
}

.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #0090ff;
}

.navbar-default .navbar-brand {
  color: #111;
}

@media only screen and (min-width: 320px) {
  .navbar-default .navbar-brand img {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-default .navbar-brand img {
    margin-top: .4rem;
  }
}

.navbar-default .navbar-brand:hover {
  color: #111;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #0090ff;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  line-height: normal;
}

@media only screen and (min-width: 320px) {
  .navbar-brand {
    padding: 1.4rem 0;
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-brand {
    padding: 2rem 1.5rem;
  }
}

.navbar__logo-subtext {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #111;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: normal;
  margin-left: 1rem;
  padding-left: 1.5rem;
  position: relative;
}

@media only screen and (min-width: 320px) {
  .navbar__logo-subtext {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar__logo-subtext {
    font-size: 2rem;
  }
}

.navbar__logo-subtext::before {
  content: '|';
  left: 0;
  position: absolute;
  top: -2px;
}

.nav-pills > li {
  display: inline-block;
  float: none;
}

.nav-pills > li.active a {
  background-color: #0090ff;
  -webkit-transition: background 250ms;
  transition: background 250ms;
}

.nav-pills > li.active a:hover, .nav-pills > li.active a:focus, .nav-pills > li.active a:active {
  background-color: #111;
}

.nav li a {
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.hero {
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) {
  .hero {
    background: url("../images/hero-mobile.jpg") no-repeat;
    background-size: contain;
    min-height: 17.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background: url("../images/hero.jpg") no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    background: url("../images/hero.jpg") no-repeat;
    background-size: cover;
    height: 35rem;
  }
}

.hero__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 4.2rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section {
    padding: 2.4rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section {
    padding: 4rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section {
    padding: 10rem 0;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .row:nth-child(2) .col-sm-4:first-child .thumbnail {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .row:nth-child(2) .col-sm-4:first-child .thumbnail {
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .row:nth-child(3) .col-sm-4:first-child .thumbnail {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .row:nth-child(3) .col-sm-4:nth-child(2) .thumbnail {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .row:nth-child(3) .col-sm-4:last-child .thumbnail {
    margin-bottom: 0;
  }
}

.page-section--soluciones .thumbnail {
  border: transparent;
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .thumbnail {
    margin-bottom: 6rem;
  }
}

.page-section--soluciones .thumbnail img {
  max-height: 5rem;
}

@media only screen and (min-width: 320px) {
  .page-section--soluciones .thumbnail h3 {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--soluciones .thumbnail h3 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--soluciones__link {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software .col-sm-6 {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software .col-sm-6:first-child {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--software .col-sm-6:first-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--software .col-sm-6:last-child {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software .col-sm-6:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--software__descarga--img {
    margin-bottom: 3rem;
    max-height: 6rem;
  }
}

.page-section--software__descarga {
  color: #0090ff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  position: relative;
}

@media only screen and (min-width: 320px) {
  .page-section--software__descarga {
    padding-left: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--software__descarga {
    padding-left: 3rem;
  }
}

.page-section--software__descarga::before {
  background: url("../images/cloud-download-simple-line-icons@3x.png") no-repeat center center;
  background-size: contain;
  content: '';
  display: block;
  height: 2rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 2rem;
}

.page-section--ayuda {
  padding-bottom: 2rem;
}

.page-section--ayuda .tiny {
  font-size: 1.4rem;
}

.page-section--ayuda__img {
  float: left;
  height: 4rem;
  margin-right: 1.5rem;
  width: 4rem;
}

.page-section--ayuda__text-azul {
  color: #0090ff;
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__text-azul {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__text-container {
    max-width: 16rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__text-container {
    max-width: initial;
  }
}

.page-section--ayuda__text {
  font-weight: 300;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__text {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__text {
    font-size: 2.2rem;
  }
}

.page-section--ayuda__align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__align {
    margin: 3rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--ayuda__align {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}

.page-section--ayuda__link {
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .page-section--ayuda__link {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--ayuda__link {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
}

.page-section--garantia__img {
  float: left;
  height: 5rem;
  margin-right: 1.5rem;
  width: 5rem;
}

.page-section--garantia__text-azul {
  color: #0090ff;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__text-azul {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--garantia__text-azul {
    font-size: 1.4rem;
  }
}

.page-section--garantia__text {
  font-weight: 300;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__text {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--garantia__text {
    font-size: 2.2rem;
  }
}

.page-section--garantia__align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__align {
    margin: 3rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .page-section--garantia__align {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}

.page-section--garantia__link {
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .page-section--garantia__link {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-section--garantia__link {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
}

.headline {
  font-size: 4.2rem;
  font-weight: 300;
}

@media only screen and (min-width: 320px) {
  .headline {
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .headline {
    font-size: 4.2rem;
    margin-bottom: 9rem;
  }
}

.headline--nomargin {
  margin: 0;
}

.headline--subheadline {
  margin-top: 1rem;
  text-align: center;
}

@media only screen and (min-width: 320px) {
  .headline--subheadline {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .headline--subheadline {
    margin-bottom: 8rem;
  }
}

@media only screen and (min-width: 320px) {
  .footer {
    padding: 1.5rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    padding: 3rem 0;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 2.4rem;
  text-align: center;
  width: 100%;
}

.footer__menu ul li {
  border-left: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 1.4rem;
  padding: 0 1rem;
}

.footer__menu ul li:first-child {
  border-left-color: transparent;
}

@media only screen and (min-width: 320px) {
  .footer__menu ul li {
    border-left-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .footer__menu ul li {
    border-left-color: transparent;
  }
}

@media only screen and (min-width: 992px) {
  .footer__menu ul li {
    border-left-color: #ccc;
  }
}

.footer__menu ul li a {
  color: #444;
  font-size: 1.4rem;
  text-decoration: none;
}

.footer__menu-bg {
  background-color: #eee;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 2.4rem;
  text-align: center;
  width: 100%;
}

.footer__social ul li {
  display: inline-block;
  margin-bottom: 1.4rem;
  padding: 0 1rem;
}

.footer__social ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #7e7f7f;
  border-radius: 3rem;
  color: #7e7f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.6rem;
  text-decoration: none;
  width: 3.6rem;
}

.footer__copyright {
  color: #7e7e7e;
  font-size: 1.4rem;
}

@media only screen and (min-width: 320px) {
  .footer__copyright {
    text-align: center;
  }
}

.footer__copyright--img {
  height: 2.5rem;
  margin: 1rem auto;
}

.panel {
  border: transparent;
  box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}

.panel-title a {
  text-decoration: none;
}

.panel-group {
  margin-bottom: 0;
}

.panel-heading {
  padding-left: .5rem;
}
