.hero {
  background-size: cover;
  display: flex;

  @include xxs-device {
    background: url('../images/hero-mobile.jpg') no-repeat;
    background-size: cover;
    min-height: 17.9rem;
  }

  @include sm-device {
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
  }

  @include md-device {
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
    height: 35rem;
  }

  &__container {
    align-items: center;
    display: flex;
  }

  &__title {
    align-self: center;
    color: $blanco;
	  font-weight: 300;
    margin: 0 auto;
    text-align: center;

    @include xxs-device {
      font-size: 3rem;
    }

    @include md-device {
      font-size: 4.2rem;
    }
  }



}
