.navbar {

  &__logo-text {
    color: $negro;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;

    @include xxs-device {
      font-size: 1.8rem;
    }

    @include sm-device {
      font-size: 3.2rem;
    }
  }

  &-default {
    background-color: $blanco;

    .navbar-nav {
      & > {

        li > {
          a {
            color: $negro;
            transition: color 250ms;

            &:hover {
              color: $azul;
              transition: color 250ms;
            }
          }
        }

        .active > {
          a {
            background: transparent;
            color: $negro;

            &:focus {
              color: $azul;

              @include xxs-device {
                background: rgba($azul, .1);
              }

              @include sm-device {
                background: transparent;
              }
            }

            &:hover {
              background: transparent;
              color: $azul;
            }

          }
        }
      }

    }

    .navbar-brand {
      color: $negro;

      &:hover {
        color: $negro;
      }
    }

    .navbar-toggle {
      border-color: transparent;

      .icon-bar {
        background-color: $azul;
      }
    }
  }

  &-brand {
    display: flex;
    height: auto;
    line-height: normal;

    @include xxs-device {
      padding: 1.4rem 0;
      padding-left: 1.5rem;
    }

    @include md-device {
      padding: 2rem 1.5rem;

    }
  }

  &__logo-subtext {
    align-self: center;
    color: $negro;
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing: normal;
    margin-left: 1rem;
    padding-left: 1.5rem;
    position: relative;

    @include xxs-device {
      font-size: 1.4rem;
    }

    @include md-device {
       font-size: 2rem;
    }


    &::before {
      content: '|';
      left: 0;
      position: absolute;
      top: -2px;
    }
  }
}
