<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAMED | Home</title>
    <meta name="description" content="Forma parte de nuestra red de instaladres y resellers FIBARO. Transforma hogares en inteligentes con un sistema domótico único">
    <meta name="keywords" content="Hogares Inteligentes, Domótica">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#0090ff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="icon" type="image/png" href="./favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <!-- build:css css/styles.min.css -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/animate.min.css">
    <link rel="stylesheet" href="./assets/css/font-awesome.css">
    <link rel="stylesheet" href="./assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./assets/css/yamm.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <!-- endbuild -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll navbar__logo-text navbar-icon-center" href="#page-top">
                  <img src="./assets/images/logo/tamed-2017-blanco-sl.svg" alt="TAMED" class="white-logo">
                </a>
                <button type="button" class="navbar-toggle fixed-left" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>


              <div class="collapse navbar-collapse navbar-ex1-collapse yamm">
                  <ul class="nav navbar-nav" id="menu-escrito">
                      <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                      <li class="dropdown yamm-fullwidth">
                        <a class="dropdown-toggle" href="#">Productos &nbsp;</a>
                        <ul class="dropdown-menu--mobile list-unstyled">
                          <!-- Sensores Mobile -->
                          <li class="dropdown"><a href="#" class="dropdown-toggle menu-sub-toggle" data-toggle="dropdown">Sensores</a>
                            <ul id="sensores-mobile" class="list-unstyled">
                              <li v-for="data in titles">
                                <a v-bind:href="data.link">
                                  <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                  <span>{{ data.text }}</span>
                                </a></li>
                            </ul>
                          </li>
                          <!-- Actuadores Mobile -->
                          <li class="dropdown"><a href="#" class="dropdown-toggle menu-sub-toggle" data-toggle="dropdown">Actuadores</a>
                            <ul id="actuadores-mobile" class="list-unstyled">
                              <li v-for="data in titles">
                                <a v-bind:href="data.link">
                                  <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                  <span>{{ data.text }}</span>
                                </a></li>
                            </ul>
                          </li>
                          <!-- Remotos Mobile -->
                          <li class="dropdown"><a href="#" class="dropdown-toggle menu-sub-toggle" data-toggle="dropdown">Remotos</a>
                            <ul id="remotos-mobile" class="list-unstyled">
                              <li v-for="data in titles">
                                <a v-bind:href="data.link">
                                  <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                  <span>{{ data.text }}</span>
                                </a></li>
                            </ul>
                          </li>
                          <!-- Puertas de Enlace Mobile -->
                          <li class="dropdown"><a href="#" class="dropdown-toggle menu-sub-toggle" data-toggle="dropdown">Puertas de Enlace</a>
                            <ul id="puertas-mobile" class="list-unstyled">
                              <li v-for="data in titles">
                                <a v-bind:href="data.link">
                                  <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                  <span>{{ data.text }}</span>
                                </a></li>
                            </ul>
                          </li>
                        </ul>
                        <ul class="dropdown-menu dropdown-menu--desktop">
                          <li>
                            <div class="yamm-content container">
                              <div class="row">
                                <div class="span12">
                                  <ul class="nav nav-pills text-center">
                                    <li><a data-toggle="tab" href="#sensores">Sensores</a></li>
                                    <li><a data-toggle="tab" href="#actuadores">Actuadores</a></li>
                                    <li><a data-toggle="tab" href="#remotos">Remotos</a></li>
                                    <li><a data-toggle="tab" href="#puerta-de-enlace">Puerta de Enlace</a></li>
                                  </ul>
                                </div>
                                <div class="span12">
                                  <div class="tab-content">
                                    <div class="tab-pane" id="sensores">
                                      <ul class="nav-product-tab-list list-unstyled">
                                        <li class="product-nav" v-for="data in titles">
                                          <a v-bind:href="data.link">
                                            <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                            <p>{{ data.text }}</p>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="tab-pane" id="actuadores">
                                      <ul class="nav-product-tab-list list-unstyled">
                                        <li class="product-nav" v-for="data in titles">
                                          <a v-bind:href="data.link">
                                            <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                            <p>{{ data.text }}</p>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="tab-pane" id="remotos">
                                      <ul class="nav-product-tab-list list-unstyled">
                                        <li class="product-nav remotos" v-for="data in titles">
                                          <a v-bind:href="data.link">
                                            <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                            <p>{{ data.text }}</p>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="tab-pane" id="puerta-de-enlace">
                                      <ul class="nav-product-tab-list list-unstyled">
                                        <li class="product-nav puerta-de-enlace" v-for="data in titles">
                                          <a v-bind:href="data.link">
                                            <img v-bind:src="data.url" v-bind:alt="data.text" class="img-responsive">
                                            <p>{{ data.text }}</p>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li><a class="page-scroll" href="http://soporte.tuhogarinteligente.cl/instalacion">Instalación</a></li>
                      <li><a class="page-scroll" href="http://www.proyectos.tuhogarinteligente.cl/">Proyectos</a></li>
                      <li><a class="page-scroll" href="http://soporte.tuhogarinteligente.cl/">Soporte</a></li>
                      <li><a class="page-scroll" href="http://expertos.tuhogarinteligente.cl/">Expertos</a></li>
                      <li><a class="page-scroll" href="http://blog.tuhogarinteligente.cl">Blog</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>


<!-- Inicio Video -->
<section class="inicio-tuhogar--homevideo" id="homevideo">
    <div class="inicio-tuhogar--homevideo__title">
      <h2 class="text-center text-color-white">Tu Hogar Inteligente</h2>
      <p class="lead text-center text-color-white">Haz tu vida fácil con más seguridad, confort y eficiencia</p>
    </div>
<video autoplay loop muted class="inicio-tuhogar--homevideo__video img-responsive">
  <source src="./assets/videos/header-web-optimized.mp4" type="video/mp4">
  <!-- <source src="videos/FIBARO_Lili_No_HUD.mov" type="video/x-m4v"> -->
     <p>Tu navegador no implementa el elemento <code>video</code>.</p>
</video>
</section>



<!-- Hogar Section -->
<section class="page-section inicio-tuhogar__smarthome" id="smarthome">
<!-- <div class="blacking-bg"></div> -->
<img src="./assets/images/hero/hand-right.png" alt="fibaro-smartphone" class="fibaro-hand">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="headline headline--nomargin inicio-tuhogar__smarthome--title">Controla tu hogar</h2>
      <p class="lead inicio-tuhogar__smarthome--subtitle">Desde donde quiera que estés.</p>
      <br><br>
      <p class="btn-container text-center center-block"><a href="https://tuhogarinteligente.cl/wp-content/uploads/2017/02/CatalogoPreciosNuevosProductos2017.pdf" class="btn btn-lg btn-fibaro" download>Descargar catálogo</a></p>
    </div>
  </div>
</div>
</section>

<!-- Porque FIBARO -->
<section class="page-section inicio-tuhogar--por-que-fibaro" id="porque-fibaro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline text-center inicio-tuhogar--por-que-fibaro__title">¿Por qué con FIBARO?</h2>
        <!-- <p class="lead headline--subheadline inicio-tuhogar--por-que-fibaro__subtitle">Un departamento moderno une el diseño vanguardista con funcionalidad. Las soluciones innovadoras del sistema FIBARO permiten utilizar en su totalidad el potencial que ofrece el hogar inteligente, garantizando de esta forma el confort, seguridad y eficiencia energética.</p> -->
      </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6">
          <div class="thumbnail text-center">
            <img src="./assets/images/icon/icon_security.svg" alt="">
            <h3>Seguridad</h3>
            <p class="lead">Controla y vigila tu hogar desde cualquier parte del mundo. Fibaro protege tu casa y familia en todo instante.</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="thumbnail text-center">
            <img src="./assets/images/icon/icon_lightning-1.svg" alt="Videos">
            <h3>Eficiencia energética</h3>
                <p class="lead">Genera un importante ahorro en las cuentas de cada mes con Fibaro. Aporta sustentabilidad a tu vida.</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="thumbnail text-center">
            <img src="./assets/images/icon/icon_.svg" alt="Manuales">
            <h3>Confort</h3>
            <p class="lead">Disfruta de la satisfacción que te entrega un Hogar Inteligente. Gana tiempo y úsalo para compartir en familia.</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="thumbnail text-center">
            <img src="./assets/images/icon/icon_sensors.svg" alt="Manuales">
            <h3>Ecosistema</h3>
            <p class="lead"> Permite conectar dispositivos de otras marcas gracias al protocolo de comunicación Z-Wave.</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="thumbnail text-center">
            <img src="./assets/images/icon/home-simple-line-icons.svg" alt="Manuales">
            <h3>Diseño</h3>
            <p class="lead">Basado en la naturaleza. Una mezcla perfecta entre elegancia y exclusividad.</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="thumbnail text-center">
            <img src="./assets/images/icon/icon_wireless-1.svg" alt="Manuales">
            <h3>Inalámbrico</h3>
            <p class="lead">Olvídate de romper paredes para tener un sistema inteligente.</p>
          </div>
        </div>
    </div>
  </div>
</section>

<hr class="divider">

<section class="inicio-tuhogar__experience-center" id="experience-center">
  <div class="blacking-bg"></div>
      <div class="inicio-tuhogar__experience-center__title-container">
        <p class="text-center"><img src="./assets/images/icon/frase.svg" style="max-height:2rem;" alt="" class="img-responsive"></p>
        <h2 class="headline headline--nomargin inicio-tuhogar__experience-center__title text-center">Experience Center</h2>
        <h3 class="text-center lead">Visítanos en Av. Las Condes 9765. <br> Las Condes, Santiago, Chile.</h3>
      </div>
  <video autoplay loop poster="./assets/images/background/fibaro-experience-center-chile.png" muted class="inicio-tuhogar--homevideo__video img-responsive">
      <source src="./assets/videos/experience-center.mp4" type="video/mp4">
       Tu navegador no implementa el elemento <code>video</code>.
  </video>
  <img src="./assets/images/background/experience-center.jpg" alt="Experience Center" class="img-responsive ec">
  <p class="inicio-tuhogar__experience-center__title-container--horario text-center">Lunes a Viernes: 9:00 – 19:00 hrs. | Sábado: 10:00 – 19:00 hrs.</p>
</section>

<hr class="divider">


<!-- Desarrollo de proyectos -->
<section class="page-section inicio-tuhogar--desarrollo-de-proyectos" id="desarrollo-proyectos">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="headline text-center">Desarrolla tu proyecto</h2>
      <br><br>
      <!-- <p class="lead headline--subheadline">Trabajamos con grandes firmas</p> -->
    </div>
  </div>
  <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="http://tuhogarinteligente.cl/comprar" class="thumbnail">
          <img src="./assets/images/icon/icon-client.svg" alt="Inmobiliaria" class="img-responsive">
          <p class="lead text-center">Clientes Finales</p>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="http://proyectos.tuhogarinteligente.cl/" class="thumbnail">
          <img src="./assets/images/icon/icon-inmobiliaria.svg" alt="Inmobiliaria" class="img-responsive">
          <p class="lead text-center">Inmobiliarias y Constructoras</p>
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2">
        <a href="#" class="thumbnail" id="telcos">
          <img src="./assets/images/icon/icon-telco.svg" alt="Telco" class="img-responsive">
          <p class="lead text-center">Telcos</p>
        </a>
      </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
      <a href="#" class="thumbnail" id="retail">
        <img src="./assets/images/icon/icon-retail.svg" alt="Retail" class="img-responsive">
        <p class="lead text-center">Retail</p>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
      <a href="http://expertos.tuhogarinteligente.cl/" class="thumbnail">
        <img src="./assets/images/icon/icon-artist.svg" alt="Inmobiliaria" class="img-responsive">
        <p class="lead text-center">Arquitectos y Diseñadores</p>
      </a>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
      <a href="http://expertos.tuhogarinteligente.cl/" class="thumbnail">
        <img src="./assets/images/icon/icon-dist.svg" alt="Distribuidores" class="img-responsive">
        <p class="lead text-center">Distribuidores</p>
      </a>
    </div>
  </div>
</div>
</section>

<hr class="divider">

<!-- Proyectos Inmobiliarios -->
<section class="page-section inicio-tuhogar--proyectos" id="proyectos">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline headline--nomargin text-center">Proyectos Inmobiliarios</h2>
        <p class="lead headline--subheadline">Descubre los hogares que ya son inteligentes en Chile</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="owl-carousel owl-theme" id="owl-proyectos">

          <div class="item" v-for="data in item">
            <a href="#">
                <img v-bind:src="data.src" class="img-responsive center-block">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="divider">

<!-- Nuestras Alianzas -->
<section class="page-section inicio-tuhogar__nuestras-alianzas" id="nuestras-alianzas">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline headline--nomargin text-center">Nuestras Alianzas</h2>
        <p class="lead headline--subheadline">Desarrollamos proyectos de colaboración recíproca</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="owl-carousel owl-theme" id="owl-alianzas">

          <div class="item" v-for="data in item">
            <a href="#">
                <img v-bind:src="data.src" v-bind:srcset="data.srcset" class="img-responsive inicio-tuhogar__nuestras-alianzas__image center-block">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




    <!-- Ya te vas -->
    <div class="modal fade inicio-tuhogar__modal-salir" id="modal-subscribirse" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <svg width="10" height="10">
      	        <line x1="0" y1="0" x2="10" y2="10" style="stroke:rgb(0,0,0);stroke-width:2"></line>
                <line x1="0" y1="10" x2="10" y2="0" style="stroke:rgb(0,0,0);stroke-width:2"></line>
              </svg>
            </button>
            <h4 class="modal-title" id=""></h4>
          </div>
          <div class="modal-body">
            <h3 class="text-center">¿Ya te vas?</h3>
            <p class="lead text-center">Suscríbete para recibir ofertas, promociones y noticias.</p>
            <form class="form form-subscribe" action="https://s242003202.t.eloqua.com/e/f2" method="post" id="modal-subscribe">
              <input type="hidden" name="elqFormName" value="Gracias_Newsletter">
              <input type="hidden" name="elqSiteID" value="242003202">
              <input type="hidden" name="elqCustomerGUID" value="">
              <input type="hidden" name="elqCookieWrite" value="0">
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="firstName" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="email" name="emailAddress" placeholder="E-mail">
              </div>
              <input type="submit" class="btn btn-default btn-subscribe" value="Suscríbete" onclick="setCookie()">
            </form>
          </div>
        </div>
      </div>
    </div>




    <!-- Contacto Form bottom right-->
    <div id="contacto-modal">
      <modal-contacto></modal-contacto>
    </div>

    <!-- Btn mobile contacto form -->
    <div class="inicio-tuhogar__icon-contact">
      <img src="./assets/images/icon/icon-contact.svg" alt="Contacto">
    </div>

    <!-- Telcos modal on click -->
    <div id="telcos-modal" class="modal fade">
      <modal-telcos></modal-telcos>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div id="footer">
        <my-footer></my-footer>
      </div>
      <hr class="divider">
        <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <img src="./assets/images/logo/tamed-2017-gris-sl.svg" alt="Tamed" class="img-responsive footer__copyright--img">
                    <span class="footer__copyright text-center center-block">© 2017. TAMED<sup>®</sup>  SpA. Todos los derechos reservados.<br>
                      Distribuidor Oficial de FIBARO<sup>®</sup>  en Chile, Perú.</span>
                  </div>
                </div>
              </div>
    </footer>




    <br><br>
    <!-- build:js assets/js/vendor/vendors.js -->
    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/jquery.easing.min.js"></script>
    <script src="./assets/js/vendor/parallax.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/owl.carousel.min.js"></script>
    <script src="./assets/js/vendor/jquery.waypoints.min.js"></script>
    <script src="./assets/js/vendor/vue.min.js"></script>
    <!-- endbuild -->
    <!-- build:js assets/js/main.min.js -->
    <script src="./assets/js/data.js"></script>
    <script src="./assets/js/main.js"></script>
    <!-- endbuild -->

  </body>
</html>
