html {
  font-size: 62.5%;
}

body {
  // -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

a {
  color: $azul;

  &:focus,
  &:hover {
    color: $azul;
  }
}

.divider {
  border-top: 1px solid $grisclaro;
  margin-bottom: 0;
  margin-top: 0;

  @include xxs-device {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.link {
    border-bottom: 1px solid transparent;
    font-weight: 300;
    text-decoration: none;
    transition: border-bottom 250ms;

    &:hover {
        border-bottom: 1px solid $azul;
        text-decoration: none;
        transition: border-bottom 250ms;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }

    &--arrow {
      &::after {
          background-color: transparent;
          border-right: 1px solid $azul;
          border-top: 1px solid $azul;
          content: '';
          display: inline-block;
          height: 8px;
          transform: rotate(45deg) translate(1px, -2px);
          width: 8px;
      }
    }

    &--arrow-black {
      &::after {
          background-color: transparent;
          border-right: 1px solid $negro;
          border-top: 1px solid $negro;
          content: '';
          display: inline-block;
          height: 8px;
          transform: rotate(45deg) translate(1px, -2px);
          width: 8px;
      }
    }
}


.profile-pic {
  // border: 1px solid $;
  border-radius: 50px;
  float: left;
  height: 5rem;
  left: 3rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
}

.experto {
  color: $azul;
  left: 9rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

    .nombre {
      font-size: 1.4rem;
    }

   .folio {
     color: $negro;
     font-size: 1.4rem;
   }
}

.card {
  background: $blanco;
  box-shadow: 0 1px 2px rgba($negro, .3);
  min-height: 8rem;
  // margin-bottom: 1.5rem;
}

.btn-fibaro {
  background-color: $azul;
  border-color: $azul;
  border-radius: .3rem;
  color: $blanco;
  transition: 300ms ease;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $azul;
  }
}

.btn-outline {
  background-color: transparent;
  border-radius: .3rem;
  transition: 300ms ease;

  &-white {
    border-color: $blanco;
    color: $blanco;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $blanco;
    }
  }

  &-azul {
    border-color: $azul;
    color: $azul;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $azul;
    }
  }
}

.btn-max-width {
  max-width: 32rem;
}

b {
  font-weight: 700;
}

.material-icons {
  color: $azul;
}

.lista {
  font-size: 2rem;
}

.js-powered-by-eb-link.link--subtle.link--undecorated {
  display: none !important;
}

.transparent-bg {
  background-color: $negro;
  border-bottom: transparent;
  transition: 800ms ease;
}

.navbar-brand {
  .desktop-logo {
    @include xxs-device {
      display: none;
    }

    @include md-device {
      display: block;
      margin-top: 0 !important;
      max-height: 2.8rem;
    }
  }

  .mobile-icon {
    max-height: 2rem;

    @include xxs-device {
      display: block;
    }
    @include md-device {
      display: none;
    }
  }
}

.text-color-white {
  color: $blanco;
}

.blacking-bg {
  background: rgba($negro, .5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

#video-modal {
  &.modal-video {

      .modal {
        &-content {
          background: transparent;
          border: 0;
          box-shadow: none;
        }

        &-header {
          border: 0;
        }

        &-dialog {
          left: 50%;
          margin: 0;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);

          @include xxs-device {
            width: 100vw;

          }
          @include sm-device {
            transform: translate(-50%, -50%);
            width: 90vw;
          }

          @include md-device {
            width: 80vw;
          }
        }
      }
  }
}

.modal-backdrop {
  &.in { opacity: .8; }
}


.button-play {
  display: inline-block;
  height: 60px;
  position: relative;
  width: 60px;

  span {
    display: block;
    font-size: 0;
    height: 1px;
    visibility: hidden;
    width: 1px;
  }

  &::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    animation: 2s linear 0s infinite normal;
    animation-name: play-button-before;
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    content: '';
    display: block;
    height: 58px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 58px;
  }

  &::after {
    background: url('../images/icon/play-icon.svg') no-repeat;
    background-size: 60px 60px;
    content: '';
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
}

.button-bag {
  display: inline-block;
  height: 60px;
  position: relative;
  width: 60px;

  span {
    display: block;
    font-size: 0;
    height: 1px;
    visibility: hidden;
    width: 1px;
  }

  &::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    animation: 2s linear 0s infinite normal;
    animation-name: play-button-before;
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    content: '';
    display: block;
    height: 58px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 58px;
  }

  &::after {
    background: url('../images/icon/shopping-bag-white.svg') no-repeat center;
    background-size: 40px 40px;
    content: '';
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
}

.twentytwenty {
  &-overlay {
    &:hover {
      background: transparent;
    }
  }

  &-before {
    &-label { display: none; }
  }

  &-after {
    &-label { display: none; }
  }
}


.black-bg-before {
  &::before {
    background: rgba(0, 0, 0, .5);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

//-- Animaciones ---------------------------------------------------------------
@keyframes play-button-before {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }

  20% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.4);
  }

  75% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.7);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.7);
  }
}

.logo-breadcrumb {
  display: inline-flex;
  margin-right: auto;
}


.navbar__site-location {
  align-self: center;
    display: inline-flex;
}

.navbar__logo-subtext {
  color: #111;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: normal;
  margin-left: 1rem;
  padding-left: 1.5rem;
  position: relative;

  &::before {
    content: '|';
    left: 0;
    position: absolute;
    top: -2px;
  }
}

@media only screen and (min-width: 320px) {
  .navbar__logo-subtext {
    display: inline-block;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar__logo-subtext {
    font-size: 1.6rem;
    margin-left: 0;
  }
}



// Wordpress

.contenido-wp {
  @include xs-device {
    margin-top: 8rem;
  }
  @include md-device {
    margin-top: 8rem;
  }
}
