.compatibilidad {
	//-- Hero
	&__hero {
		@include xxs-device {
			background-image: url('../images/hero/compatibilidad-hero-mobile.jpg');
			background-size: cover;
			margin-top: 5rem;

		}

		@include sm-device {
			background-image: url('../images/hero/compatibilidad-hero-desktop.jpg');
			background-size: cover;
			padding: 15rem 0;
		}

		@include lg-device {
			min-height: 68rem;
			padding: 25rem 0;
		}

		h2 {
			color: $blanco;

			@include lg-device {
				font-size: 6.2rem;
			}
		}

		&__image {
			max-height: 18rem;
		}

		&__text {
			color: $blanco;
			font-size: 3rem;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
		}

		a {text-decoration: none;}

	}

	//-- Sistema de soporte
	&__homekit-zwave {
		h2 {
			@include xxs-device {
				margin-bottom: 5rem;
			}
		}

		&__protocolo {

			img {
				@include xxs-device {
					height: 3.7rem;
					margin-bottom: 2rem;
				}

				@include sm-device {
					height: 5rem;
				}
			}

			p {
				text-align: center;

				@include xxs-device {
					margin-bottom: 6rem;
				}

				@include md-device {
					margin-bottom: 0;
				}
			}
		}
	}

	//-- Todo está conectado
	&__todo-conectado {
		h2 {
			color: $blanco;
		}
			@include xxs-device {
				background-image: url('../images/hero/todo-conectado-mobile.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 22rem;
			}

			@include md-device {
				background-image: url('../images/hero/todo-conectado-desktop.jpg');
				background-size: cover;
			}
	}

	//-- Control de voz para el hogar
	&__control-voz {
		h2 {
			@include xxs-device {
				margin-bottom: 5rem;
			}
		}

		&__marca {
			img {
				@include xxs-device {
					height: 5rem;
					margin-bottom: 2rem;
				}

				@include sm-device {
					height: 7rem;
				}
			}
		}
	}

	//-- Revisa Video
	&__revisa-video {

		h2 {
			color: $blanco;
		}

		@include xxs-device {
			background-image: url('../images/hero/joga-hero-mobile.jpg');
			background-position: 0;
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 22rem;
		}
		@include sm-device {
			background-position: center;
		}

		@include md-device {
			background-image: url('../images/hero/joga-hero-desktop.jpg');
			background-position: left;
		}
	}

	//-- Más posibilidades con dispositivos conectados
	&__devices {

		.thumbnail {
			background-color: rgb(246, 246, 246);
			border-color: rgb(236, 236, 236);
			border-radius: 0;
			max-width: 27.3rem;
			padding: 0;

				@include md-device {
					height: 40rem;
				}

			.caption {
				margin-top: 1.5rem;

				img {
					margin-bottom: 2rem;
				}

				p {
					font-weight: 300;
				}
			}
		}

		&__brands {
			@include xxs-device {
				margin-bottom: 3rem;
			}
		}
	}

	//--Interfaces
	&__interfaces {
		// background-color: rgba($negro, .1);
			@include xxs-device {
				background-color: #e8e8e8;
				background-image: url('../images/background/interfaces-mobile.jpg');
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: contain;
				padding-bottom: 25rem;
			}

			@include sm-device {
				background-color: #ececec;
				background-image: url('../images/background/interfaces-desktop.jpg');
				background-size: 160%;
				padding-bottom: 30rem;
			}

			@include md-device {
				padding-bottom: 40rem;
			}

			@include lg-device {
				padding-bottom: 60rem;
			}

		.lead {
			@include xxs-device {
				margin-top: 2rem;
			}
		}

		.row {
			@include xxs-device {
				text-align: center;
			}
		}

	}

	&__plugins {
		position: relative;

		@include xxs-device {
			background-image: url('../images/background/plugins-mobile.jpg');
			background-position: center bottom;
			background-size: cover;
			height: 40rem;
		}

		.content {
			-webkit-transform: translateY(-50%);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			z-index: 10;

			@include xxs-device {
				padding: 4rem 0;
			}

			p {

				&:nth-of-type(2) {
					color: $azul;
					font-size: 3rem;
					margin-top: -1rem;
					padding-bottom: 1rem;
					text-align: center;
					text-transform: uppercase;
				}

				&:nth-of-type(3) {
					color: $blanco;
					text-align: center;
				}
			}

			.lead {
				font-size: 2rem;
			}
		}

		.typo-light {
			color: $blanco;
		}

		svg {
			margin-bottom: 2rem;
			margin-top: -1rem;

			.c {
				dominant-baseline: middle;
				font-size: 12.4rem;
				font-weight: 300;
				text-anchor: middle;
			}

			.p {
				dominant-baseline: central;
				font-size: 5.2rem;
				text-anchor: start;

				@include lg-device {
					transform: translateY(-50%);
				}
			}
		}
	}
}
