.contacto {

  h2 {
    @include md-device {
      font-size: 4rem !important;
    }
  }

  .container-fluid {
    @include lg-device {
      width: 1170px;
    }

    & > .row {
      & > div {
            padding-left: .7rem;
            padding-right: .7rem;
          }
    }
  }

  //-- Hero ------------------------------------------------------------------
  &__hero {
    @include xxs-device {
      background-image: url('../images/hero/contacto-hero-mobile.jpg');
      background-position: center;
      margin-top: 5rem;
      padding: 8rem 0;
    }

    @include sm-device {
      background-image: url('../images/hero/contacto-hero-desktop.jpg');
      background-position: center;
      padding: 14rem 0;
    }



    p {
      @include xxs-device {
        color: $blanco;
        margin-bottom: 0;
      }
    }

    h2 {
      color: $blanco;
    }
  }

  //-- Departamentos -----------------------------------------------------------
  &__departamentos {

    @include lg-device {
      margin-top: 6rem;
    }


    h2 {
      @include xxs-device {
        font-size: 2.8rem;
        margin-bottom: 3rem;
        margin-top: 2rem;
      }
    }

    h3 {
      @include xxs-device {
        font-size: 1.6rem;
      }

      @include md-device {
        font-size: 2.3rem;
      }
    }

    h4 {
      @include xxs-device {
        font-size: 1.4rem;
      }

      @include md-device {
        font-size: 2rem;
      }
    }

    ul {
      @include xxs-device {
        margin-bottom: 3rem;
      }
    }

    li {
      @include xxs-device {
        font-size: 1.4rem;
        font-weight: 300;
      }

      @include md-device {
        font-size: 2rem;
      }

      a {
        @include xxs-device {
          color: $negro;
          text-decoration: none;
        }
      }
    }
  }

  //-- Partners ----------------------------------------------------------------
  &__partners {
      @include md-device {
        margin-top: 3rem;
      }

    &__item {
      img {
        @include xxs-device {
          max-width: 7rem;
        }
      }
    }


    h2 {
      @include xxs-device {
        font-size: 2.8rem;
        margin-top: 2rem;
      }
    }

    .thumbnail {
      border: 0;
      text-decoration: none;

      @include xxs-device {
        min-height: 4rem;
      }

      p {
        @include xxs-device {
          color: $negro;
          font-weight: 300;
        }

        @include md-device {
          font-size: 1.8rem;
          margin-top: 1rem;
        }

        @include md-device {
          font-size: 1.9rem;
        }
      }
    }
  }

  //-- Relaciones Públicas -----------------------------------------------------
  &__relaciones-publicas {
    @include md-device {
      margin-top: 3rem;
    }

    h2 {
      @include xxs-device {
        font-size: 2.8rem;
        margin-top: 2rem;
      }
    }

    &__contenedor {
      @include xxs-device {
        padding: 2rem 0;
        padding-top: 4rem;
      }

      h3 {
        font-size: 2rem;
        font-weight: 300;
        margin: 0;
      }

      .float-icon {
        float: left;
        margin-right: 1.5rem;

        @include xxs-device {
          max-height: 3.5rem;
        }

        @include sm-device {
          max-height: 4rem;
        }
      }

      .team {
        @include xxs-device {
          margin-bottom: 3rem;
        }
      }

      .col-sm-6 {
        &:last-child {
          margin-bottom: 0;
        }

          @include xxs-device {
            margin-bottom: 2rem;
          }

          @include sm-device {
            margin-bottom: 4rem;
          }

          @include md-device {
            margin-bottom: 0;
          }

        h3 {
          @include xxs-device {
            font-size: 1.4rem;
          }

          @include md-device {
            font-size: 2.2rem;
          }
        }

        .link {
          @include xxs-device {
            font-size: 1.4rem;
          }

          @include md-device {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  //-- Info --------------------------------------------------------------------
  &__info {
    @include md-device {
      margin-top: 3rem;
    }

    &__contenedor {
      @include md-device {
        padding: 2rem 0;
      }


      img {
        max-height: 9rem;
      }
    }

    &__list {
      font-weight: 300;

      @include xxs-device {
        text-align: left;
      }
      @include md-device {
        text-align: left;
      }

      li {
        h4 {
          @include xxs-device {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0;
          }

          @include md-device {
            font-size: 1.8rem;
          }
        }

        @include xxs-device {
          font-size: 1.4rem;
        }

        @include md-device {
          font-size: 1.8rem;
        }


        strong {
          font-weight: 500;
        }
      }
    }

    h2 {
      @include xxs-device {
        font-size: 2.8rem;
        margin-top: 2rem;
      }
    }


  }
}
