.inicio-tuhogar {

  //-- Section 1 : Homevideo ---------------------------------------------------
  &--homevideo {
    background-size: cover;
    position: relative;


    @include xxs-device {
      background: $negro url('../images/background/tu-hogar-inteligente.png') no-repeat center center;
      height: 100vh;
      padding-top: 5rem;

      &__video {
        display: none;
      }

      &__title {
        display: block;
        left: 50%;
        position: absolute;
        text-shadow: .1rem .1rem .2rem rgba($negro, .9);
        top: 10%;
        transform: translateX(-50%) translateY(0%);
        width: 80%;
      }
    }

    @include sm-device {
      background: $negro url('../images/background/tu-hogar-inteligente-tablet.png') no-repeat center center;
      height: 100vh;
      min-height: 46rem;
      padding-top: 0;

    }



    @include md-device {
    background: $negro;
    height: auto;

      &__video {
        display: block;
        height: auto;
        max-height: 100%;
        width: 100%;
        z-index: -100;
      }

      &__title {
        top: 50%;
        transform: translate(-50%, -50%);
        width: initial;

        h2 {
          font-size: 6.2rem;
          font-weight: 300;
        }

        p {
          font-size: 2.2rem;
        }
      }


      &::after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0%, rgba(145, 255, 48, 0) 100%);
        color: transparent;
        content: 'Hola';
        float: left;
        font-size: 10.2rem;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
      }
    }

  }

  //-- Section 2 : Smarthome ---------------------------------------------------
  &__smarthome {
    background: url('../images/background/smarthome.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    @include xxs-device {
      background-position: bottom;
      height: 100vh;
    }

    @include sm-device {
      background-position: bottom;
      height: 100vh;
    }

    @include md-device {
      background-position: bottom;
    }

    &--title {
      color: $blanco;
      font-weight: 300;

      @include xxs-device {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: center;
      }
      @include sm-device {
        font-size: 4.2rem;
      }
    }

    &--subtitle {
      color: $blanco;

      @include xxs-device {
        text-align: center;
      }

      @include sm-device {
        text-align: center;
      }
    }


      .btn-container {
        @include xxs-device {
          text-align: center;
        }

        @include sm-device {
          text-align: center;
        }
    }







  }

  //-- Section 3 : Por qué FIBARO ----------------------------------------------
  &--por-que-fibaro {

    .row {
      &:nth-child(1) {
        @include xxs-device {
          margin-bottom: 8rem;
        }

        @include md-device {
          margin-bottom: initial;
        }
      }
    }

    &__subtitle {
      color: #666;
    }

    .thumbnail {
      border: transparent;

      h3 {
        color: #333;
        font-weight: 300;

        @include xxs-device {
          font-size: 2rem;
        }
        @include sm-device {
          font-size: 3rem;
        }
      }

      p {
        color: #666;

        @include xxs-device {
          font-size: 1.4rem;
        }

        @include sm-device {
          font-size: 1.8rem;
        }
      }
    }
  }

  //-- Section 4 : Experience Center -------------------------------------------
  &__experience-center {
    position: relative;
    @include xxs-device {
      // background: url('../images/background/experience-center.jpg') no-repeat center;
      background-size: cover;
      min-height: 40rem;
    }

    @include sm-device {
      background-position: center -12rem;
      min-height: 60rem;
    }

    .blacking-bg {
      @include xxs-device {
        display: none;
      }

      @include md-device {
        display: block;
      }
    }

    &__image {
      @include xxs-device {
        display: block;
      }

      @include md-device {
        display: none;
      }
    }

    &__title-container {
      @include xxs-device {
        color: $blanco;
        margin: 0 auto;
        padding-top: 4rem;
        width: 100%;
      }

      @include sm-device {
        color: $negro;
        // max-width: 80%;
        padding-top: 4rem;
      }

      @include md-device {
        color: $blanco;
        left: 50%;
        position: absolute;
        text-shadow: .1rem .1rem .2rem rgba($negro, .9);
        top: 15%;
        transform: translateX(-50%) translateY(0%);
      }

      h2 {
        @include xxs-device {
          color: $negro;
          font-size: 3rem;
        }

        @include sm-device {
          font-size: 3rem;
        }

        @include md-device {
          color: $blanco;
          font-size: 4.2rem;
        }
      }

      h3 {
        @include xxs-device {
          color: $negro;
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }

        @include sm-device {
          font-size: 2rem;
        }

        @include md-device {
          color: $blanco;
        }
      }

      p {
        @include xxs-device {
          color: $negro;
          font-size: 1.2rem;
        }

        @include sm-device {
          font-size: 2rem;
        }

        @include md-device {
          color: $blanco;
        }
      }

      &--horario {
        @include xxs-device {
          font-weight: 300;
        }

        @include md-device {
          bottom: 0;
          color: $blanco;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
        }
      }

      .frase {
        @include md-device {
          img { filter: invert(100%); }
        }
      }
    }

    .ec {
      @include xxs-device {
        display: block;
      }

      @include md-device {
        display: none;
      }
    }
  }

  //-- Section 5 : Desarrollo de Proyectos -------------------------------------
  &--desarrollo-de-proyectos {

    .row {
      &:first-child {
        @include sm-device {
          margin-bottom: 3rem;
      }
    }

    .thumbnail {
      border: 0;
      // cursor: default;
      text-decoration: none;

        img {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  //-- Section proyectos inmobiliarios -----------------------------------------
  &--proyectos {
  &__casas {
    border-radius: .4rem;
    display: inline-block;
    margin-bottom: 2rem;
    max-height: 14.5rem;
    min-height: 6rem;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
      bottom: 1.5rem;
      content: 'Casas';
      left: 1.5rem;
      position: absolute;
      @include xxs-device {
        color: $blanco;
        font-size: 2rem;
      }
      @include sm-device {
        font-size: 2rem;
        font-weight: 700;
        text-shadow: .2rem .2rem .4rem rgba($negro, .6);
      }
    }
  }

  &__deptos {
    border-radius: .4rem;
    display: inline-block;
    margin-bottom: 2rem;
    max-height: 14.5rem;
    min-height: 6rem;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
      bottom: 1.5rem;
      content: 'Departamentos';
      left: 1.5rem;
      position: absolute;
      @include xxs-device {
        color: $blanco;
        font-size: 1.6rem;
      }
      @include sm-device {
        font-size: 2rem;
        font-weight: 700;
        text-shadow: .2rem .2rem .4rem rgba($negro, .6);
      }
    }
  }
}

//-- Section 6 : Expertos Casos de exito -------------------------------------
  &--casos-de-exito {
    background: url('../images/background/bg--tuhogar-casos-de-exito.jpg') no-repeat center center;
    background-size: cover;
    color: $blanco;

    .owl-theme {
      .owl-dots {
        .owl-dot {
          span {
            background-color: transparent;
            border: .1rem solid rgba($blanco, .8);
          }

          &.active {
            span {
              background-color: $azul;
              border: .1rem solid transparent;
            }
          }
        }
      }


    }

    .row {

      &:first-child {
        @include xxs-device {
          margin-bottom: 3rem;
        }

        @include sm-device {
          margin-bottom: 4rem;
        }

        @include md-device {
          margin-bottom: 0;
        }
      }
    }

    &__image {
      border-radius: 3rem;
      height: 6rem;
      overflow: hidden;
      width: 6rem !important;
    }

    blockquote {
      border-left: 0;
    }

    p {
      em {
        color: $azul;
      }
    }
  }


  //-- Nuestras Alianzas -------------------------------------------------------
  &__nuestras-alianzas {
    &__image {
      transform: scale(.7);
    }
  }

  //-- Elementos Flotantes -----------------------------------------------------
  &__icon-contact {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    z-index: 999;

    @include md-device {
      display: none;
      visibility: hidden;
    }
  }



  input {
    appearance: none;
    box-shadow: none;
    margin-bottom: 1rem;
  }

  &__modal-salir {

    .modal {
      &-content {
        @include xxs-device {
          max-width: 32rem;
        }

        input {
          appearance: none;
          box-shadow: none;
          margin-bottom: 1rem;
        }
      }

      &-dialog {
        max-width: 32rem;
      }

      &-header {
        border: 0;
        padding-bottom: 0;
      }

      &-body {
        padding-top: 0;

        h3 {
          font-size: 3rem;
          font-weight: 300;
        }

        .lead {
          font-size: 1.6rem;
        }
      }
    }
  }

  &__contact-form {
    background: $blanco;
    border: 1px solid rgba(#979797, .17);
    border-radius: .4rem;
    border-style: inset;
    box-shadow:  0 .2rem .4rem rgba($negro, .16);
    display: block;
    float: right;
    min-height: 30rem;
    opacity: 0;
    padding: 1.5rem;
    position: fixed;
    visibility: hidden;
    z-index: 9;

    @include xxs-device {
      bottom: 10%;
      left: 50%;
      margin-left: -37.5%;
      right: auto;
      visibility: hidden;
      width: 75%;
    }

    @include sm-device {
      bottom: 1rem;
      left: initial;
      margin-left: 0;
      max-width: 32rem;
      right: 1rem;
      top: initial;
      visibility: hidden;
      // transform: none;
    }

    @keyframes elevacion {
      from { bottom: 1rem; }
      to { bottom: 38rem; }
    }

    @include lg-device {
      bottom: 3rem;
      right: 3rem;
    }


    input,
    textarea {
      appearance: none;
      border-radius: .2rem;
      box-shadow: none;
      margin-bottom: 1rem;
    }
  }
}




.sube {
  animation: elevacion 3s;
  animation-fill-mode: forwards;
}

.btn-subscribe {
  background-color: $blanco;
  border: 1px solid $azul;
  color: $azul;
  font-weight: 400;
  transition:  all 300ms ease-out;
  width: 100%;

  &:hover {
    background-color: $azul;
    border: 1px solid $azul;
    color: $blanco;
  }
}

.mostrar {
  display: block;
  opacity: 1;
  transition: all 300ms ease-out;
  visibility: visible;
}

.preloader {
  background: $blanco;
  display: block;
  height: 100%;
  position: fixed;
  transition: all 800ms ease-out;
  width: 100%;
  z-index: 9999;
}

.blacking-bg {
  background: rgba($negro, .5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 992px) {
  .navbar-collapse.collapse {
       display: none !important;
   }

   .navbar-collapse.collapse.in {
       display: block !important;
   }

   .navbar-header .collapse,
   .navbar-toggle {
       display: block !important;
   }

   .navbar-header {
       float: none;
   }
}


.waze-image {
  display: inline-block;
  text-align: center;
  border-radius: .4rem;
  overflow: hidden;
  max-height: 6rem;
    @include xxs-device {
      margin: 1rem auto;
    }
}

.text-white {
  color: white;
}


.fibaro-hand {
  bottom: 0;
  max-width: 25rem;
  position: absolute;
  right: 0;
  transform: translateY(20%);
  transition: opacity 300ms ease;


  @include xxs-device {
    opacity: 0;
  }


  @include sm-device {
    opacity: 1;
  }
}
