.navbar {
  margin-bottom: 0;
  min-height: 5rem;
  transition: all 300ms ease;



  //-- Header ------------------------------------------------------------------
  &-header {

    // Logo text
    .navbar__logo-text {
      align-self: center;
      color: $negro;
      display: inline-block;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 300;
      letter-spacing: normal;
      margin-left: 1rem;
      padding-left: 1.5rem;
      position: relative;

          @include xxs-device {
            font-size: 1.4rem;
          }

          @include sm-device {
            font-size: 3.2rem;
          }

          @include md-device {
             font-size: 2rem;
          }

          // &::before {
          //   content: '|';
          //   left: 0;
          //   position: absolute;
          //   top: -2px;
          // }
    }

    .navbar-brand {
      background-position: center;
      color: $negro;
      display: flex;
      height: auto;
      line-height: normal;
      position: relative;


        & > img {
            align-self: center;

              @include xxs-device {
                max-height: 2rem;
                opacity: 1;
              }

              @include md-device {
                max-height: 2.7rem;
                opacity: 1;
              }
          }

          &:hover {
            color: $negro;
          }

          .color-logo {
            left: 0;
            position: absolute;
            top: 0;
          }

        @include xxs-device {
          background-size: 80%;
          max-height: 2rem;
          padding: 1.4rem 0;
          padding-left: 1.5rem;
        }

        @include md-device {
          background-size: contain;
          padding: 2rem 1.5rem;
        }
    }


    // Hamburger menu button
    .navbar-toggle {
      border-color: transparent;
      transition: all 300ms ease-out;

      &:focus,
      &:hover {
        background: transparent;
      }

      .icon-bar {
        background-color: $blanco;
      }
    }

    .open-animation {
      height: 3.4rem;

      .icon-bar {
        transition: all 300ms ease-out;

        &:nth-child(2) {
          margin-bottom: -.6rem;
        }

        &:last-child {
          margin-top: -2px;
        }
      }
    }











  }
  //-- Fin del Header ----------------------------------------------------------




  //-- Menu (Collapse) -------------------------------------------------------
  .navbar-collapse {

    @include xxs-device {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-nav {
      // Navbar Abierto
      & > .open {
        a {
          background-color: transparent;

          &:hover,
          &:focus {
            background-color: transparent;
          }
        }
      }

      // Items del Navbar
      & > {
        li > {
          a {
            color: $blanco;
            font-size: 1.4rem;
            font-weight: 300;
            transition: color 250ms;

            &:hover {
              color: $azul;
              transition: color 250ms;
            }
          }
        }

        // Items del navbar activos 
        .active > {
          a {
            background: transparent;
            color: $negro;

            &:focus {
              color: $azul;

              @include xxs-device {
                background: rgba($azul, .1);
              }

              @include sm-device {
                background: transparent;
              }
            }

            &:hover {
              background: transparent;
              color: $azul;
            }
          }
        }
      }

      @include md-device {
        float: right;
      }

      &.nav {
        li {
          a {
            padding-left: 0;
            padding-right: 0;
            transition: background-color 250ms;

            @include xxs-device {
              // border-bottom: 1px solid #e7e7e7;
              margin: 0 1.5rem;

              &:last-child {
                border-bottom: 0;
              }
            }

            @include md-device {
              margin: 0 1rem;
            }
          }

          @include sm-device {
            border-bottom: 0;
          }
        }
      }
    }

    .dropdown-menu {
      border: 0;
      border-radius: 0;
      border-top: 1px solid #f2f2f2;
      position: fixed;
      top: 5rem; // Dropdown top margen
    }

    .nav-pills {
      & > li {
        display: inline-block;
        float: none;


        &.active {
          a {
            background-color: $azul;
            transition: background 250ms;

            &:hover,
            &:focus,
            &:active {
              background-color: $negro;
            }
          }
        }
      }
    }



  }

  //--Fin de Menu (Collapse) -------------------------------------------------------

  &-default {
    background-color: rgba($blanco, 0);
    border-color: rgba(#e2e2e2, 0);
  }
}


.bg-no-gradient {

  &::after {
    background: transparent !important;
  }
}
