.product-section {

  //----------------------------------------------------------------------------
  // SWIPE  ====================================================================
  //----------------------------------------------------------------------------
  &__swipe {
    .content {
      text-align: center;

      @include xxs-device {
        padding-bottom: 2.4rem;
        padding-top: 2.4rem;
      }
      @include sm-device {
        padding-bottom: 3.6rem;
        padding-top: 3.6rem;
      }
    }

    .bg {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      height: 100%;
      position: relative;
      width: 100%;
    }

    .col-xs-12 {
      &:first-child {
        @include xxs-device {
          margin-bottom: 4rem;
          margin-top: 4rem;
        }

        @include md-device {
          margin-bottom: 6rem;
        }
      }
    }

    h1 {
      color: $gris-footer-text;
      font-weight: 300;
        @include xxs-device {
          font-size: 3.4rem;
        }

        @include md-device {
          font-size: 3.8rem;
        }

        @include lg-device {
          font-size: 4.8rem;
        }
    }

    h2 {
      color: $gris-footer-text;
      font-weight: 300;
        @include xxs-device {
          font-size: 2.8rem;
        }

        @include sm-device {
          font-size: 3.2rem;
        }

        @include lg-device {
          font-size: 4.8rem;
        }
    }

    p {
      font-weight: 300;

      @include xxs-device {
        font-size: 1.4rem;
      }

      @include sm-device {
        font-size: 1.6rem;
      }

      @include md-device {
        font-size: 1.8rem;
      }

      @include lg-device {
        font-size: 2rem;
      }

    }

//------------------------------------------------------------------------------
// Section 4 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//------------------------------------------------------------------------------
    &.section4 {
      @include xxs-device {
        background: url('../images/products/swipe/balerina-mobile.jpg') no-repeat;
        background-position: -10rem bottom;
        background-size: 200%;
        height: 65rem;
      }

      @include sm-device {
        background: url('../images/products/swipe/balerina-desktop.jpg') no-repeat;
        background-position: center bottom;
        background-size: contain;
        height: 64rem;
      }

      @include md-device {
        background-position: center top;
        background-size: 115%;
        // height: 100rem;
      }
    }

//------------------------------------------------------------------------------
// Section 5 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//------------------------------------------------------------------------------
    &.section5 {
      .container {
        .row {
          div {
            @include xxs-device {
              margin-bottom: 6rem;
            }
          }
        }
      }

      .container-fluid {
        overflow: hidden;
        padding: 0;

        .row {
          .col-sm-6 {

            padding: 0;

              @include xxs-device {
                margin-bottom: .5rem;
                padding: 0;
              }

              &:first-child {
                padding-right: .5rem;


              }

              &:nth-child(2) {
                padding-left: .5rem;
              }
          }

          .col-sm-12 {
            padding: 0;
            position: relative;

            .content-center {
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);

                h2 {
                  color: $blanco;
                  text-align: center;
                }

                a {
                  color: $blanco;
                  text-align: center;
                }
            }
          }
        }
      }
    }

//------------------------------------------------------------------------------
// Section 6 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//------------------------------------------------------------------------------
    &.section6 {
      overflow: hidden;
      position: relative;

      .section-big-image {
        .content {
          left: 0;
          top: 0;
          width: 100%;
        }
      }

      .content {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

          h2 {
            color: $blanco;
          }
      }

      .bg {
          @include xxs-device {
            padding-bottom: 85%;
          }

          @include sm-device {
            padding-bottom: 65%;
          }

          @include md-device {
            padding-bottom: 56.25%;
          }

        &-size-cover {
          background-size: cover;
        }

        img {
          height: 100%;
          left: 50%;
          position: absolute;
          top: 0;
          transform: translateX(-50%);

            &:nth-child(2) {
              opacity: 0;
              transition: all 250ms ease;
            }
        }

        sub {
          bottom: 35px;
          color: #fff;
          font-size: 60%;
          left: 22%;
          opacity: .7;
          position: absolute;
          transform: translateX(-50%);
        }
      }

      &.white-bg {
        .content {
          h2,
          p {
            color: $negro !important;
          }

          .btn-outline-white {
            border-color: $negro;
            color: $negro !important;
          }
        }

        .bg {
          img {
            &:nth-child(2) {
              opacity: 1;
              transition: all 250ms ease;
            }
          }
        }
      }
    }


    //--------------------------------------------------------------------------
    // Section 7 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section7 {
      .bg {

          @include xxs-device {
            height: 30rem;
          }

          @include sm-device {
            height: 40rem;
          }

          @include md-device {
            height: 80rem;
          }
      }

      .swipe-anim {
        .anim {
          perspective: 200rem;

            #anim-back {
              left: 0;
              top: 397px;
            }

            #anim-sensor {
              left: 83px;
              top: 260px;
              transform: matrix(.9434, 0, 0, 1.25, 0, 223);
              transition: all 2s ease;
            }

            #anim-screen {
              left: 141px;
              top: 150px;
              transform: matrix(.9259, 0, 0, 1.5385, 0, 379);
              transition: all 2s ease;
            }

            #anim-frame {
              left: 27px;
              top: 0;
              transform: matrix(.9259, 0, 0, 2, 0, 547);
              transition: all 2s ease;
            }
        }
        @include xxs-device { margin-top: 5rem; }
        @include sm-device { margin-top: 10rem; }
        @include md-device { margin-top: 10rem; }
      }

      .swipe-anim .anim,
      .swipe-anim ul,
      .swipe-anim #anim-blank {
        height: 1080px;
        left: 50%;
        position: absolute;
        transform-origin: 0 0;
        width: 1210px;

          @include xxs-device {
            transform: scale(.25) translate(-50%, 0);
          }

          @include sm-device {
            transform: scale(.35) translate(-41%, 0);
          }

          @include md-device {
            transform: scale(.55) translate(-50%, 0);
          }
          @include lg-device {
            transform: scale(.7) translate(-50%, 0);
          }
      }

      .swipe-anim a,
      .swipe-anim img {
        display: block;
        position: absolute;
      }

      .swipe-anim li {
        position: absolute;
      }

      #anim-frame-pt {
        @include md-device {
          background: url('../images/products/swipe/anim-frame-pt.png') no-repeat right 7px;
          left: -375px;
          min-height: 131px;
          padding-right: 364px;
          padding-top: 0;
          top: -75px;
          width: 664px;
        }
      }
    }

    //--------------------------------------------------------------------------
    // Section 8 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section8 {
      h2,
      p {
        color: $blanco;
        text-align: center;
      }

        @include xxs-device {
          background: url('../images/products/swipe/swipe-beautiful-mobile.jpg') no-repeat;
          background-position: center bottom;
          background-size: 120%;
          height: 48rem;
        }

        @include sm-device {
          background-position: center -18rem;
          background-size: cover;
          height: 55rem;
        }

        @include md-device {
            background: url('../images/products/swipe/swipe-beautiful-desktop.jpg') no-repeat;
          background-position: center top;
          background-size: 115%;
          height: 100rem;
        }
    }

    //--------------------------------------------------------------------------
    // Section 9  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section9 {
      h2,
      p {
        text-align: center;
      }

        @include xxs-device {
          background: url('../images/products/swipe/swipe-battery-mobile.jpg') no-repeat;
          background-position: center bottom;
          background-size: 120%;
          height: 30rem;
        }

        @include sm-device {
          background-position: center bottom;
          background-size: 120%;
          height: 45rem;
        }

        @include md-device {
          background: url('../images/products/swipe/swipe-battery-desktop.jpg') no-repeat;
          background-position: center -6rem;
          background-size: 100%;
          height: 60rem;
        }
    }

    //--------------------------------------------------------------------------
    // Section 10 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section10 {
      h2,
      p {
        text-align: center;
      }

      .content {
        position: relative;
          @include md-device {
            padding-bottom: 0;
            padding-top: 0;
          }

          @include lg-device {
            h2 {
              color: $blanco;
              font-size: 4.8rem;
            }

            p {
              color: $blanco;
              font-size: 2rem;
            }
          }

        .container {
          @include md-device {
            left: 50%;
            position: absolute;
            top: 10%;
            transform: translate(-50%, 10%);
            z-index: 9;
          }
        }
      }
    }

    //--------------------------------------------------------------------------
    // Section 11 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section11 {
      .content {
        width: 100%;

        h2 {
          color: inherit;
        }
        @include xxs-device {
          position: relative;
        }

        @include lg-device {
          color: $blanco;
          position: absolute;
          text-align: left;
          z-index: 9;
        }
      }

      .bg {

        img {
          &:nth-child(2) {
            @include md-device {
              left: 0;
              opacity: 0;
              position: absolute;
              top: 0;
              transition: opacity 500ms ease;
            }
          }
        }


        &-size-cover {
          background-size: cover;
        }

        &-second {
          background-size: cover;
          height: 100%;
          position: absolute;
          transition: all 350ms ease;
          width: 100%;
            @include xxs-device {
              background-image: url('../images/products/swipe/swipe-intuitive-off-mobile.jpg');
            }
            @include md-device {
              background-image: url('../images/products/swipe/swipe-intuitive-off-desktop.jpg');
            }
        }
      }
    }

    //--------------------------------------------------------------------------
    // Section 12 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section12 {
      overflow: hidden;

      span {
        display: inline-block;
        position: relative;
        top: 12rem;
        z-index: 9;

          &::after {
            border-bottom: .1rem solid $negro;
            border-right: .1rem solid $negro;
            content: '';
            display: block;
            height: 1.2em;
            left: 50%;
            position: absolute;
            top: 140%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 1.2em;
          }

          @include xxs-device {
            top: 5rem;
          }

          @include sm-device {
            top: 12rem;
          }

          @include md-device {
            top: 30rem;
          }
      }

      .bg {
          @include xxs-device {
            height: 0;
            padding-bottom: 52.5%;
          }

          @include md-device {
            height: 0;
            padding-bottom: 56.25%;
          }

        .full {
          // visibility: hidden;
        }

        img {
          height: 100%;
          left: 50%;
          position: absolute;
          top: 0;
          transform: translateX(-50%);
        }
      }
    }

    //--------------------------------------------------------------------------
    // Section 13 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section13 {

      .section-big-image {
        .bg {
          height: 0;

          &-size-cover {
              background-size: cover;
          }
        }
      }

      .bg {
        padding-bottom: 74%;
          @include xxs-device {
            background-image: url('../images/products/swipe/swipe-table-mobile.jpg');
            background-repeat: no-repeat;
              background-size: contain;
          }

          @include md-device {
            background-image: url('../images/products/swipe/swipe-hide-large.jpg');
            background-repeat: no-repeat;
            padding-bottom: 49%;

          }

        img {

          @include md-device {
            bottom: -80%;
            height: auto;
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            width: 50%;
          }
        }
      }

      .sub-extra {
        width: 100%;
          @include xxs-device {
            text-align: center;
          }
          @include sm-device {
            padding-bottom: 2.4rem;
            padding-top: 2.4rem;
          }

          @include md-device {
            padding-bottom: 5rem;
            padding-top: 5rem;
            text-align: left;
          }
          @include lg-device {
            padding-bottom: 13rem;
            padding-top: 7rem;
          }
      }
    }

    //--------------------------------------------------------------------------
    // Section 14 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section14 {
      overflow: hidden;

      .content {
          @include sm-device {
            color: $blanco;
            position: absolute;
            width: 100%;
            z-index: 9;
          }

        h2 {
          @include sm-device {
            color: $blanco;
          }
        }
      }

      .bg {
        background-position: 0 0;
        background-size: auto 100%;
        height: 330px;
        padding: 0;

          @include xxs-device {
            background-image: url('../images/products/swipe/swipe-passage-mobile.jpg');
            background-repeat: no-repeat;
          }

          @include sm-device {
            background-image: url('../images/products/swipe/swipe-passage.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          }

          @include lg-device {
            height: 105rem;
          }
      }
    }

    //--------------------------------------------------------------------------
    // Section 15 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section15 {
      .content {
        @include md-device {
          position: absolute;
          text-align: left;
          width: 100%;
          z-index: 9;
        }
      }

      .bg {
        background-position: 0 0;
        background-size: auto 100%;
        height: 330px;
        padding: 0;

          @include xxs-device {
            background-image: url('../images/products/swipe/swipe-senior-mobile.jpg');
            background-repeat: no-repeat;
          }

          @include sm-device {
            background-image: url('../images/products/swipe/swipe-senior-desktop.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          }

          @include lg-device {
            height: 105rem;
          }
      }

      .heating {
        border: 1px solid #1fb3ef;
        border-radius: 6px;
        color: #1fb3ef;
        height: 54px;
        left: 20%;
        opacity: .8;
        padding: 6px 0 5px;
        position: absolute;
        text-align: center;
        top: 42%;
        transform: translate(-50%, -50%);
        width: 106px;

          span,
          p {
            display: block;
            margin: 0;
            padding: 0;
          }

          @include md-device {
            font-size: 1rem;
            font-weight: 300;
            left: 32%;
            top: 51%;
            transform: scale(1.75) translate(-50%, -50%);
          }

          @include lg-device {
            font-weight: 300;
            transform: scale(2.2) translate(-50%, -50%);
          }

          p {
            @include lg-device {
              font-size: 1.6rem;
            }
          }
      }
    }

    //--------------------------------------------------------------------------
    // Section 16 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section16 {
      overflow: hidden;

      .content {
        width: 100%;

        @include md-device {
          position: absolute;
          z-index: 9;
        }
      }

      .bg {
        @include xxs-device {
          background-size: cover;
        }

        @include md-device {
          background: url('../images/products/swipe/swipe-audio-desktop.jpg') no-repeat;
          padding-bottom: 44%;
        }
      }
    }

    //--------------------------------------------------------------------------
    // Section 17 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section17 {
      .content {
        width: 100%;

          @include sm-device {
            position: absolute;
            z-index: 9;
          }

        h2,
        p {
          @include sm-device {
            color: $blanco;
            text-align: left;
          }
        }
      }

      .bg {
        @include xxs-device {
          background-size: cover;
        }

        @include md-device {
          background: url('../images/products/swipe/swipe-roof-desktop.jpg') no-repeat;
          background-position: 0 -30rem;
          background-size: cover;
          padding-bottom: 49%;
        }
      }
    }

    //--------------------------------------------------------------------------
    // Section 18 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section18 {
        @include md-device {
          overflow: hidden;
        }

      .content {
        h2 {
          color: inherit;
        }
        @include xxs-device {
          position: relative;
        }

        @include lg-device {
          color: $blanco;
          padding-top: 12rem;
          position: absolute;
          text-align: center;
          width: 100%;
          z-index: 9;
        }
      }

      .bg {
        img {
          &:nth-child(1) {
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity 500ms ease;
          }
        }

      }
    }

    //--------------------------------------------------------------------------
    // Section 19 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section19 {
      .content {
        h2,
        p {
          @include xxs-device {
            color: $negro;
            text-align: center;
          }

          @include md-device {
            color: $blanco;
            text-align: left;
          }
        }

          @include md-device {
            padding-top: 10rem;
            position: absolute;
            width: 100%;
            z-index: 9;
          }

      }

      @include md-device {
        background: url('../images/products/swipe/swipe-kids-desktop.jpg') no-repeat;
        background-size: cover;
      }
    }

    //--------------------------------------------------------------------------
    // Section 20 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section20 {
      .content {
        h2,
        p {
          color: $negro;

          @include xxs-device {
            text-align: center;
          }

          @include md-device {
            text-align: left;
          }
        }

        @include md-device {
          position: absolute;
          width: 100%;
          z-index: 9;
        }
      }

      @include md-device {
        background: url('../images/products/swipe/swipe-goodmorning.jpg') no-repeat;
        background-size: cover;
      }
    }

    //--------------------------------------------------------------------------
    // Section 21 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section21 {

      .content {
        h2,
        p {
          color: $negro;

          @include xxs-device {
            text-align: center;
          }

          @include md-device {
            text-align: left;
          }
        }

        @include md-device {
          position: absolute;
          width: 100%;
          z-index: 9;
        }
      }
    }

    //--------------------------------------------------------------------------
    // Section 22 ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    //--------------------------------------------------------------------------
    &.section22 {
      img {
        max-height: 10rem;
      }
    }
  }


}
