.single-product {
  @include xxs-device {
    margin-top: 5rem;
  }
  @include sm-device {
    margin-top: 5rem;
  }

  //-- Hero --------------------------------------------------------------------
  &__hero {
    @include xxs-device {
      height: 35vh;
    }
  }

  //-- Section -----------------------------------------------------------------
  &__section {
    @include xxs-device {
      padding-top: 1rem;
    }
    @include md-device {
      padding-top: 6rem;
    }
  }

  &__title--mobile {
    h2 {
      font-weight: 300;
      text-align: center;
      @include xxs-device {
        margin-bottom: 3rem;
      }
    }
    @include xxs-device {
      display: block;
    }
    @include md-device {
      display: none;
    }
  }

  &__image {
    display: block;
    @include xxs-device {
      margin-bottom: 5rem;
    }

    img {
      @include xxs-device {
        margin: 0 auto;
        max-height: 20rem;
      }
      @include sm-device {
        max-height: 32rem;
      }
    }
  }

  &__content {
    @include xxs-device {
      font-weight: 300;
      line-height: 1.6;
      margin-bottom: 5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    h2 {
      font-weight: 300;
      @include xxs-device {
        display: none;
        margin-bottom: 2rem;
      }
      @include sm-device {
        display: none;
        margin-top: 0;
      }
      @include md-device {
        display: block;
      }
    }

    p {
      @include xxs-device {
        font-size: 1.4rem;
        text-align: center;
      }
      @include sm-device {
        font-size: 1.6rem;
        text-align: left;
      }
    }
  }

  .thumbnail {
    border: 0;
    text-decoration: none;
    @include md-device {
      margin-top: 2rem;
    }

    p {
      @include xxs-device {
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
      }
    }
  }

  &__video {
    &__container {
      position: relative;


      @include xxs-device {
        background-size: cover;
      }

      @include sm-device {
        background-size: cover;
        margin-bottom: 3rem;
      }


      &--dimmer {
        @include xxs-device {
          background: url('../images/background/dimmer-video-mobile.png') no-repeat;
          background-size: cover;
        }

        @include md-device {
          background: url('../images/background/dimmer-video-mobile.png') no-repeat;
          background-size: cover;
        }
      }

      .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
      }

      p {
        align-items: center;
        background-color: rgba($negro, .5);
        display: flex;
        justify-content: center;
        margin-bottom: 0;

        @include xxs-device {
          min-height: 20rem;
        }

        @include sm-device {
          min-height: 35rem;
        }

        .ver {
          display: block;

          @include xxs-device { display: none; }
          @include md-device { display: block; }
        }
      }
    }
  }
}
